[2020-06-02 07:12] IonicaBizau opened #1 "Google Docs does not open the generated file"
Hi! Thank you for this project and keep up the great work.

I generated a hello world docx file with this library but Google Docs simply fails to open it.

![image](https://user-images.githubusercontent.com/2864371/83490917-8675e600-a4b9-11ea-98e3-e8cd714bf36e.png)

If I try to open it with Google Docs, it shows a blank page.

[2020-06-02 09:09] privateOmega commented on #1
Hey @IonicaBizau This package isn't yet complete, it still underway but I am sure I can help you with your problem, could you please tell me how did you use this package, if its via npm, the particular version?

[2020-06-02 10:21] IonicaBizau commented on #1
I cloned the repository and executed the example, then uploaded the file on Google Drive.

Sent from my iPhone

[2020-06-02 11:06] privateOmega commented on #1
Hey @IonicaBizau I think I seemed to have the idea why you got an empty document is because if you check the html string fed into the module in example files are empty except for a h1 tag which for some reason I forgot to add support for. Sorry for that.

I plan to add a complete example which would demonstrate all capabilities like images, ordered and unordered lists, headers etc, in the near fut

[2020-06-03 05:23] privateOmega commented on #1
Hi @IonicaBizau , I have forthwith updated the examples in the repository with the one I posted above and will be closing the issue, since it doesn't warrant to be open anymore. Please do reopen the issue if you feel the need to or open a new issue.

[2020-06-03 05:23] #1 closed

[2020-06-03 07:14] IonicaBizau commented on #1
Thank you very much!

[2020-06-10 17:36] danilcostefanovski opened #2 "Set table, column width"
@privateOmega Can you please explain how to set (table and column), div width in html to affect changes on docx.

[2020-06-11 08:12] privateOmega commented on #2
@danilcostefanovski Thanks for showing interest in this library.

Library takes into account **width** from html table's style property. eg `<table border="1" style="width:150px;"><tr><td>sample text</td></tr></table>`. Checkout v1.1.11 if you were using any previous versions.

For now, column width isn't supported, but I will try to add support for them as soon as possible, but for now if you req

[2020-06-28 12:54] QQCif opened #3 "Will this project work in browser?"
Searched NPM and found this project. Tried in browser but gives me error about fs. Is this project for node only or I miss some settings...

[2020-06-29 05:03] privateOmega commented on #3
@QQCif Currently this project was made targeting both Node and Frontend frameworks like React, Vue etc. But I will try to add direct browser support ASAP.

[2020-07-09 09:44] ankitchauhan27 opened #5 "First page Blank"
It is creating docx from HTML string but making first page blank and starting with page 2 in docx. Can you please look into that ?

[2020-07-09 10:41] privateOmega commented on #5
@ankitchauhan27 Could you please post the exact html string that you have used?

[2020-07-20 18:57] amrita-syn commented on #2
The latest changes might mitigate the need to set column width altogether. Looks spacier now.

[2020-07-21 11:18] privateOmega commented on #2
@amrita-syn This is something that totally skipped my mind, and will be adding support for it soon. With your latest PR, we now have table min-width also handled.

[2020-07-21 11:20] privateOmega commented on #3
Working on this under [feature/browser-example](https://github.com/privateOmega/html-to-docx/tree/feature/browser-example)

[2020-07-22 06:23] amrita-syn opened #9 "Nested Lists"
Nested list items are lost.

[2020-07-24 10:32] privateOmega commented on #9
Added the feature.

[2020-07-24 10:32] #9 closed

[2020-08-03 11:22] privateOmega opened #11 "Broken list text"
<li> List text </li> gets broken into multiple paragraph if it contains any formatting element due to latest version changes.

Related to new list parser built for supporting nested lists.

[2020-08-04 10:42] privateOmega commented on #11
#12 Solves it

[2020-08-04 10:42] #11 closed

[2020-08-06 05:23] privateOmega commented on #5
Closing the issue due to inactivity.

[2020-08-06 05:23] #5 closed

[2020-08-11 19:24] BikashKNayak commented on #3
I installed this in my react typescript application but gives node js related errors such as
Error: Can't resolve 'child_process' in \node_modules\libtidy-updated\node_modules\detect-libc\lib'

[2020-08-22 18:07] Ant0397 opened #16 "node-pre-gyp error"
Does anyone know what is causing this error?

Only seems to be when I try to install this package, all others are fine.

Output below:

node-pre-gyp WARN Using needle for node-pre-gyp https download
node-pre-gyp WARN Tried to download(404): https://github.com/gagern/node-libtidy/releases/download/v0.4.1/node-v72-darwin-x64.tar.gz
node-pre-gyp WARN Pre-built binaries not found for libtidy-updated@0

[2020-08-24 10:54] #16 closed

[2020-08-24 10:55] Ant0397 commented on #16
See slack post for fix

https://stackoverflow.com/questions/60573595/npm-install-fails-on-node-gyp-rebuild-with-gyp-no-xcode-or-clt-version-detec

[2020-08-24 15:10] privateOmega commented on #16
@Ant0397 Thanks for finding the solution.

[2020-09-03 09:05] rickifunk opened #17 "CSS functionality missing?"
Can only get it to work with inline styling. Is that on purpose?

[2020-09-03 09:36] privateOmega commented on #17
@rickifunk Yes thats by design. You could use a package like [juice](https://www.npmjs.com/package/juice) to achieve style inlining from a stylesheet before passing it to html-to-docx.

It's as simple as

[code]

[2020-09-03 09:41] rickifunk commented on #17
That is pretty sick tbh. Works like a charm!

[2020-09-03 09:41] #17 closed

[2020-09-14 10:35] anirudh-modi commented on #3
@privateOmega what will be the state of the branch for the browser support?

[2020-09-16 17:32] josx commented on #3
The problem is that https://github.com/gagern/node-libtidy is not for browser.

[2020-09-16 18:04] privateOmega commented on #3
@BikashKNayak @anirudh-modi Sorry for the late reply, I haven't been following this project as much as I would like to due to other commitments. The problem with implementing this package in browser is exactly like @josx said, I started working on this project with an aim to support both ends of the stack but I had to import node-libtidy into the package which essentially cleans up HTML and only w

[2020-09-21 08:55] anirudh-modi commented on #5
[code]

@privateOmega By default the generated doc is not showing a blank page, however when I upload the same to slack, I have observed it adds a new blank page for its preview..

[2020-09-21 08:56] anirudh-modi commented on #5
[example.docx](https://github.com/privateOmega/html-to-docx/files/5254343/example.docx)
This is the doc which was generated using this library

[2020-09-21 09:07] privateOmega commented on #5
@anirudh-modi I have also observed that TBH, but I assumed that was an issue with slack preview parser. I opened this file in Word 2007 and opens without any issues.

[2020-09-21 13:16] anirudh-modi commented on #5
Agree.. however there was definitely some other library named `docxjs` although I am aware that they take a different approach and don't convert an HTML to DOCX.... But the output from that library worked fine for slack previews... Could we compare the XML output for both the files?

Perhaps we may have to add an extra attribute somewhere?

[2020-09-21 13:49] privateOmega commented on #5
@anirudh-modi yes even I used to use that. I made this library partially based on that and because of what it lacks, html-docx-js should be the library you are referring to. What it does is basically make use of a ooxml standard feature called alt chunks which allows embedding html and other markup language code snippets directly inside the docx package file. But the problem associated with it des

[2020-09-23 06:59] tvbishan opened #19 "Add Page Numbers when converting HTML documents to DOCX format"
I need to add page numbers on docx document. How can I achieve this? Is **documentOptions** supports for this?

[2020-09-28 19:36] homeslicesolutions opened #20 "Getting a strange dependency error"
[code]

I have 2 issues with this library in terms of dependencies.  First of, working locally works just fine and works perfectly, but when injected in our build process it runs to several problems.  We have a NODE application that I have this installed in which causes some conflict in Node version due to a deep dependency of `node-pre-gyp` which basically manages node of that particular machine.

[2020-09-29 08:53] privateOmega commented on #20
@homeslicesolutions Yup these all arose from libtidy-updated and that is the menace, I guess best is to remove that altogether and then make this library compatible with browser eventually. Feel free to raise a PR to develop branch.
@amrita-syn Thoughts?

[2020-09-29 09:04] amrita-syn commented on #20
Makes sense. Anyway this repo should expect 'clean' html and user can ensure cleanliness through a method of their choice. We should specify the HTML standard that is required for correct file generation and leave it at that. Examples with and without libtidy can be shown for those who would want to use it.

@privateOmega We will have to modify the way we are using the package to accommodate these

[2020-09-29 09:06] privateOmega commented on #20
@amrita-syn Exactly my thought too. :+1:

[2020-09-29 09:08] amrita-syn commented on #19
Not yet. Page numbers will require the footer to be set up and that is not completely in place yet. Feel free to raise a pr to 'develop' branch

[2020-09-30 03:38] homeslicesolutions commented on #20
@privateOmega , I also noticed that you use `xmlbuilder2` which is also a node.js library.  When tried to use it in the browser in my React application, I get the following error
[code]

[2020-10-03 06:13] privateOmega commented on #20
@homeslicesolutions @amrita-syn I have created a PR which removes libtidy altogether from html-to-docx side, so I guess people who would want to tidy HTML input before it comes into html-to-docx can use their own preferred html cleaner package.

[2020-10-06 05:46] privateOmega commented on #20
@homeslicesolutions Published new version v1.1.31, which essentially removes libtidy from it, hence wouldn't cause anymore of the weird dependency issues.
Also I had created an issue on XMLBuilder2 repo, but not sure how I would create a test case for it.
Closing the current issue since the issue in scope is resolved.

[2020-10-06 05:46] #20 closed

[2020-10-06 05:49] privateOmega commented on #3
Removed the libtidy dependency.

[2020-10-06 05:50] privateOmega commented on #16
@Ant0397 Removed the libtidy dependency, hence this wouldn't be an issue anymore.

[2020-10-07 12:05] josx commented on #3
great!

[2020-10-08 07:52] venkadesh-p opened #25 "Html with <script> is not working."
I am tying to generate word doc from html string. My html string contains script tag. html-to-docx is not rendering the html with the executed script. I am providing the sample for reference below,

[code]
How to get it working?

[2020-10-08 15:58] privateOmega commented on #25
@venkadesh-p Ah well sorry, this package doesnt rely on any full brown browser or any similiar platforms to execute the script first and then use the generated HTML for docx preparation, this is just an average HTML parser, which generates equivalent OOXML xml script. So script execution is definitely not possible ever and is out of the scope of the package.

Closing this issue because there's no

[2020-10-08 15:58] #25 closed

[2020-10-08 16:00] privateOmega commented on #25
Also as a idea to bounce around when I think about this specific feature, is to have a browser layer before this package's method is called, you could basically make use of a library like [puppeteer](https://github.com/puppeteer/puppeteer) which would run a headless browser underneath it and get the final HTML as input to the html-to-docx package.

[2020-10-08 21:16] itsmhuang commented on #3
Is there any update on how this can work with browser now?

[2020-10-09 05:35] venkadesh-p commented on #25
@privateOmega Thanks for the reply. I will try with puppeteer. Thanks again.

[2020-10-19 11:48] tenthousandfiRe commented on #3
I'm interested on how this can work with browser

[2020-10-19 13:48] NazarBashinskiy opened #27 "Images in Libbre office are cropped to single string"
More in my pull request https://github.com/privateOmega/html-to-docx/pull/26

[2020-10-19 15:23] evrardts commented on #3
Same here, would love to see it working in the browser. Thanks a lot!

[2020-10-26 16:26] redbrain commented on #3
+1 for browser support. I'll comment so I'm notified of progress.

[2020-10-26 19:00] redbrain commented on #3
You can look into alternative libraries like [tidy-html5](https://www.npmjs.com/package/tidy-html5) which is just libtidy compiled to browser JS using emscripten. However, it's less performant and only supports synchronous operation.

[2020-10-28 21:05] privateOmega commented on #3
Guys, I am delighted to know that people have noticed my very first OSS package, thanks for the following.
But I am extremely sorry that I haven't been able to spend some time to follow up on the issues created in this repo, being quite busy with my work.
All that apart I was able to spend some time to figure out the issue at hand finally and I have good news and bad news.

Good news - Figured out

[2020-11-02 11:06] wseredynski opened #28 "a tag in header causes TypeError: Cannot read property 'createDocumentRelationships' of undefined"
Hi,
document generation throws an error when header contains a tag eg.
`<h1><a href="https://www.test.com">test</a></h1>`

TypeError: Cannot read property 'createDocumentRelationships' of undefined

[2020-11-08 08:01] privateOmega commented on #28
p@wseredynski Oh I am sorry, I guess I haven't added the case of external URL support, I will solve this ASAP.

[2020-11-08 08:05] privateOmega commented on #27
@NazarBashinskiy I checked out your PR and I don't think that is the solution to the problem that you are facing. I will try to test out the problem you are facing. Also I am open to other solutions, You could use [ECMA-376](https://www.ecma-international.org/publications/standards/Ecma-376.htm) as reference for solutions. Thanks for the attempt and I apologize for the late reply.

[2020-11-12 02:30] naivenaive opened #29 "Is it possible to provide template.docx like pandoc?"
This project is fantastic. It is small and simple. I used to use pandoc to convert html to docx. In Pandoc, I can provide a template.docx with some default format for title(Font size 18, blue), author(Font size 10, black), headings, etc.. After submitting a new html file, the output docx will be automatically formated. Is it possible for this project to provide this kind of function?

[2020-11-12 04:40] privateOmega commented on #29
@naivenaive Thanks for checking out the project.
I haven't checked out how templating works in OOXML standard and was never really something I wanted, but it definitely would be a great addition to the project scope, if it is something you could possibly pickup and create a PR. I could probably assist in testing or development, but won't be able to fit this in the near future as a task due to my s

[2020-11-16 01:28] naivenaive commented on #29
Thanks for your help. I working on a similar project and trying to find out how the template works in OOXML.

[2020-11-17 08:34] privateOmega commented on #28
@wseredynski
**Update**: Finally went through the codebase and it seems I forgot to pass one argument to a function. will fix it in the bugfix branch for hyperlink. will test it, merge it and publish it soon.

[2020-11-17 09:15] privateOmega commented on #27
@NazarBashinskiy I tried out the problem you mentioned and it seems only with LibreOffice, the particular problem is cropping up, so I don't really think its a problem that is within scope of this project or OOXML per se, hence please open an issue with LibreOffice, high chance its a problem with their implementation. So I am closing this issue.

[2020-11-17 09:15] #27 closed

[2020-11-19 09:22] privateOmega commented on #28
@wseredynski This has been fixed and the branch is merged into develop. Will release it soon, along with row-span support.

[2020-11-19 09:22] #28 closed

[2020-12-01 07:09] privateOmega commented on #19
@tvbishan I have created a PR which addresses the feature that you had requested, page numbering, feel free to check it out. Once PR is merged, this issue will be closed.

[2020-12-01 10:13] tvbishan commented on #19
@privateOmega Thanks for your effort. I'll check the PR.

[2020-12-04 06:57] #19 closed

[2020-12-08 01:50] FLOODWANG opened #34 "The picture in html floats above the text, but convert word, it has no effect in word. What is the reason?"

[2020-12-10 09:36] privateOmega commented on #34
@FLOODWANG Could you please add a description to the issue you are facing.

[2020-12-12 03:03] jagzmz opened #36 "[Feature Request] <blockquote> support?"
As of now, html content containing \<blockquote> tags seems to be omitted in the generated docx file.

[2020-12-14 06:35] privateOmega commented on #36
@jagzmz Would you like to contribute that feature to html-to-docx?

[2020-12-14 11:32] IonicaBizau opened #38 "Problems when deploying to Heroku"
We are getting the following error when deploying the app to Heroku. It works fine in development (Amazon Cloud 9).

Full log from Heroku:

[code]

[2020-12-14 11:43] IonicaBizau opened #39 "How to add spacing more spacing before headings"
We have document with multiple headings and would like to add more space before the headings. What is the best way to do this?

[2020-12-14 11:44] IonicaBizau commented on #38
This happened because we have installed the `html-to-docx` in the app root and it was pointing to the file in `package.json`.

[2020-12-14 11:44] #38 closed

[2020-12-14 11:44] IonicaBizau opened #40 "Right to left text"
What is the best way to set up right to left text (e.g. Arabic text)?

[2020-12-16 06:58] privateOmega commented on #39
@IonicaBizau Could you please give me an example HTML string and a screenshot of what you are trying to achieve?

[2020-12-16 07:02] privateOmega commented on #40
@IonicaBizau I am really sorry, but I dont have the bandwidth to take this up now. But if you wish to take it up, It should be as easy as finding the right XML tags in OOXML standards for the same. I can provide pointers on the things I am knowledgeable about.

This [PDF](https://www.ecma-international.org/publications/files/ECMA-ST/Office%20Open%20XML%201st%20edition%20Part%205%20(PDF).zip) is fo

[2020-12-17 19:46] brockfanning opened #41 "Image support"
Hello, I'm very excited to find this project and see that it gets around the altchunks problem. Should this library support the output of base64 images that are in the HTML? I gave it a quick test and it did not appear to output any images. I just wanted to make sure I'm not doing something wrong. If we do not support images yet here, consider this a feature request and/or offer of help (if you co

[2020-12-17 20:55] brockfanning commented on #41
After a bit more experimentation I think it may be a bug caused by the image being wrapped in a <p> tag. I'll update the issue title.

[2020-12-21 04:18] privateOmega commented on #41
@brockfanning Could you please post a test HTML string so as to replicate the issue?

[2020-12-21 04:42] brockfanning commented on #41
@privateOmega I tested it by adding `<p>` tags in the node example, like so: https://github.com/brockfanning/html-to-docx/commit/e40026a9db5b089e62359771a788c0dba9566483

[2020-12-24 06:13] tvbishan opened #42 "CSS style is not being applied"
I have added some styles into the html. But generated **docx** file doesn't include the expected style.

[code]

This is how it's looks like.
![image](https://user-images.githubusercontent.com/12027448/103065520-c1b63e80-45dc-11eb-96c1-8dfa543410ce.png)

What could be the issue?

[2020-12-24 06:48] privateOmega commented on #42
@tvbishan Currently we don't support <style> tag, instead could you please try inlining the styles and see if it works, all styles aren't yet supported, so something might be amiss, but please do report the css styles here that you would like me to add support for and we can come up with something.

[2020-12-24 06:56] tvbishan commented on #42
@privateOmega Thanks for the quick response. I'll test with inline CSS and post an update.

[2021-01-02 09:59] privateOmega commented on #36
@jagzmz I have added support for blockquote using text justification and indentation, it would be great if you could checkout the [PR](https://github.com/privateOmega/html-to-docx/pull/43) and give review on it.

[2021-01-06 08:06] jyotisonghare opened #44 "How to remove header and footer from first page of DOCX (html to docx) ?"
Hello,

We are generating DOCX report into our application for that we used html to docx , html-docx-js node packages and it gives us expected result.
Now, we need to add cover page into first page docx so automatically header/footer will be started from second page but we are not getting any way any attribute which help us to do same.
Please provide some suggestion to fulfill requirement.

Thanks

[2021-01-07 12:18] jagzmz commented on #36
Hi, sorry i just saw this, i did went through the code at the time of creating this feature request. Didn't quite get the idea about how should i implement blockquote feature as I haven't worked with openxml things. So I didnt further looked into it.

Thanks a lot for this! Would give a review on this soon.

[2021-01-08 10:25] privateOmega commented on #44
@jyotisonghare At present concept of cover page or skipping headers and footers for the first page isn't something that I have explored.

 Which attributes have you checked so far? And I sincerely hope, the attributes you were checking out were in OOXML context and not the options of html-to-docx. If not, I would suggest checking out headers and footers in OOXML standards, this [PDF](https://www.e

[2021-01-08 10:30] privateOmega commented on #42
Closing this issue since there's no activity.

[2021-01-08 10:30] #42 closed

[2021-01-11 10:11] jyotisonghare commented on #44
@privateOmega , thanks for your response.

We are creating docx using HTML content. We have to only  remove header and footer from first page i.e. our cover page,  for that I have used - headerType attribute however 'even' and 'first' values are not working only default value work's.
Adding the below code for your reference:
 const fileBuffer = await HTMLtoDOCX(htmlData, headerString, {
      tabl

[2021-01-12 12:15] privateOmega commented on #36
Will release this feature soon along with row span, hence closing this issue.

[2021-01-12 12:15] #36 closed

[2021-01-12 14:17] privateOmega commented on #40
@IonicaBizau I had done some reading on this and found that `<w:rtl/>` tag should be added as a run property to solve this problem, but unfortunately for some reason, it isn't working and I am not sure why it is so. Maybe someone can pitch-in and do some research on this topic.

[2021-01-12 14:21] privateOmega commented on #44
@jyotisonghare I have added a [PR](https://github.com/privateOmega/html-to-docx/pull/45) for this.

Well custom CSS for header and footer is written in the same way as the document only, inline styles. You could use package like [juice](https://www.npmjs.com/package/juice) in case you want to inline the styles from a css file in your application.

[2021-01-14 12:26] mahendra119 opened #46 "Skip header/footer or different header/footer on first page"
Hello,
First of all, it is a great package but I ran into one issue when I am setting headerType to "First or even", it is not working at all. It only works when set to "default" option. Also is there any setting where we can skip header/footer on the first page or show different header/footer on first page.
I have installed this package and it contains file in minified version so I am not able to

[2021-01-14 17:28] privateOmega commented on #46
Closing this issue, since it's a duplicate of #44 . Please follow the issue of the progress in #45 .

[2021-01-14 17:28] #46 closed

[2021-01-15 08:48] jyotisonghare commented on #44
@privateOmega , I have added your PR code into existing package and pass parameter. However it is not working for me would you please correct me where I am doing wrong or please let me know how do I pull your current code

 const fileBuffer = await HTMLtoDOCX(htmlString, '<p>Header Text Goes Here </p>', {
      title: 'Cover page issue',
      headerType: 'default',
      header: true,
      foote

[2021-01-18 09:09] jyotisonghare commented on #44
@privateOmega , we are waiting for your response.

Thanks,
Jyoti

[2021-01-18 09:28] privateOmega commented on #44
@jyotisonghare Could you please post the html-to-docx entry in dependencies of your package.json?

 I am assuming you are still using the version from npm, which doesn't have this change yet because it hasn't been merged, so inorder to access it, you should be doing `npm i git://github.com/privateOmega/html-to-docx#feature/skip-first-header` for now, when I release a new version, you would be gett

[2021-01-18 09:29] meta-akshita-agrawal opened #47 "Using library in typescript/angular"

[2021-01-18 09:37] privateOmega commented on #44
PR is merged for now, will release a new version by tomorrow after testing.

[2021-01-18 09:40] meta-akshita-agrawal commented on #47
I tried
`import * as htmlToDocx from 'html-to-docx'`
`import {htmlToDocx} from 'html-to-docx'`
`const htmlToDocx = require('html-to-docx')`
also here is one of your [example](https://github.com/privateOmega/html-to-docx/blob/21354f9459004ac128d463c8a1e44944b5db2bdf/example/example.js#L5) I tried to import this too. But that didn't work too

[2021-01-18 09:42] privateOmega commented on #47
@meta-akshita-agrawal What do you mean it didn't work? Any particular errors or it says htmlToDocx is undefined or something? Could you please post the exact log?

[2021-01-18 09:57] meta-akshita-agrawal commented on #47
![image](https://user-images.githubusercontent.com/41181785/104900068-9d623d80-59a1-11eb-8ccf-22c065aedc59.png)

[2021-01-18 09:58] meta-akshita-agrawal commented on #47
`ERROR in ./node_modules/clean-css/lib/reader/read-sources.js
Module not found: Error: Can't resolve 'fs' in 'node_modules\clean-css\lib\reader'
ERROR in ./node_modules/clean-css/lib/reader/apply-source-maps.js
Module not found: Error: Can't resolve 'fs' in 'node_modules\clean-css\lib\reader'
ERROR in ./node_modules/clean-css/lib/reader/load-original-sources.js
Module not found: Error: Can't resol

[2021-01-18 10:21] privateOmega commented on #47
@meta-akshita-agrawal Yup that error log makes sense, because `fs` is a node.js module, hence stubbed out in browser environment and I forgot that I use a dependency which internally depends on fs module.

 This has been a long running issue that I haven't had much time to focus on, I had created a [branch](https://github.com/privateOmega/html-to-docx/tree/feature/browser-example) for that. I will

[2021-01-18 10:21] privateOmega commented on #47
@meta-akshita-agrawal Yup that error log makes sense, because `fs` is a node.js module, hence stubbed out in browser environment and I forgot that I use a dependency which internally depends on fs module.

 This has been a long running issue that I haven't had much time to focus on, I had created a [branch](https://github.com/privateOmega/html-to-docx/tree/feature/browser-example) for that. I will

[2021-01-18 10:21] #47 closed

[2021-01-18 11:58] mahendra119 commented on #44
Thanks @privateOmega
We are excited about the release of the new version.

[2021-01-18 11:59] meta-akshita-agrawal commented on #47
Thanks for the update

[2021-01-20 08:40] mahendra119 commented on #44
Hi @privateOmega
Any Updates for the new version release with this fix?

I also tried npm i git://github.com/privateOmega/html-to-docx#feature/skip-first-header, but no dist/code folder present after install.

[2021-01-20 09:07] privateOmega commented on #44
@jyotisonghare @mahendra119 Released v1.1.33 now. Closing this issue.

[2021-01-20 09:07] #44 closed

[2021-01-20 12:54] mahendra119 commented on #46
Thank you very much @privateOmega. You have saved us a lot of time.

[2021-01-20 12:55] mahendra119 commented on #44
Thank you very much @privateOmega. You have saved us a lot of time.

[2021-01-20 18:01] jyotisonghare commented on #44
@privateOmega  Thank you very much.

[2021-01-22 10:31] jyotisonghare opened #48 "Html raw content to docx - unable to render base64 image to docx and formatting content issue"
@privateOmega , previously we used html-docx-js to generate docx.
 In which we provide htmlContent in payload and pass it to package. Please go through the attachment where you will get 3 files html-docx-js output , html-to-docx output file and html content input file. Please let us know what we are doing wrong we are expecting the same result from html-to-docx package also.
 Any help would be app

[2021-01-22 15:01] privateOmega commented on #48
@jyotisonghare Sorry to burst your bubble, but this project isn't recommended for use in production ready code and might have to work out a lot of kinks. Since I am the only primary developer on this and I can't commit to this as much as I would like to due to my other commitments, I would suggest you to open individual issues, so hopefully I can take it up as much as I can, rather than you giving

[2021-01-22 17:15] mahendra119 commented on #48
Hi @privateOmega , Thanks for the response
html-docx-js doesn't provide support for skipping header/footer on the first page which is our top priority right now.

Could you suggest in html-docx-js which files are used for making header/footer so that we can check?

[2021-01-25 11:15] privateOmega commented on #48
@mahendra119 Tbh html-docx-js is a different project altogether and if at present it doesn't have it, someone has to make a contribution to it for the same, not something I can help you with.

@jyotisonghare I am closing this issue due to it being non-specific to solve at present. Feel free to reopen it if you could be specific with your issues.

[2021-01-25 11:15] #48 closed

[2021-01-25 20:55] orasik opened #49 "Div style is not reflecting"
Hi,
I was trying to align text to the right in a div but looks like styling from `<div>` is not reflecting.

I used the example you have

[code]

***Expected result:***
Taken from wikipedia and the image should be on the right side.

***Actual result:***
No impact.

I tried to put the styling in the `<p>` and its working fine for the text.

Ex:
[code]

Ideally I would like to have one style for th

[2021-01-28 23:33] neojp opened #50 "How to remove table border?"
Hi,

I saw you recommended using a table with a `border="1"` attribute https://github.com/privateOmega/html-to-docx/issues/2#issuecomment-642487634, and was hoping I could use a table without borders, but it doesn't work. Not sure if it's a bug or just a feature that doesn't exist.

I have the following markup

[code]

And get the following result:

![image](https://user-images.githubusercontent.c

[2021-02-02 23:12] joeskeen commented on #47
@privateOmega any update on when that branch can be rebased on the latest version? I'm guessing it didn't happen "tonight" (16 days ago) ;)

[2021-02-03 12:28] martin-lorenz opened #51 "superscript <sup> renders as subscript"
When using the `<sup>` tag, the result renders as subscript.

[2021-02-04 21:04] milos5593 commented on #17
@privateOmega this works, but some styles are ignored like `line-height`. Is there a workaround to set line-height?

Also is there a possibility to set styles like in this example: [https://docx.js.org/#/usage/styling-with-xml](https://docx.js.org/#/usage/styling-with-xml)

[2021-02-07 06:55] privateOmega commented on #51
@martin-lorenz Yea I just checked it out and seems you were right, I had wrongly written the argument for the method which builds the subscript and superscript elements. I have fixed it with the latest release. PTAL.

[2021-02-07 06:55] #51 closed

[2021-02-07 06:59] privateOmega commented on #17
@milos5593 If you want to apply some styles to your document, what's the easiest would be to use a package like [juice](https://www.npmjs.com/package/juice) to inline the styles and the ones that are supported by html-to-docx will be applied and others will be ignored, unfortunately.

[2021-02-07 07:01] privateOmega commented on #47
@joeskeen Please checkout the branch now, it was rebased against develop, hence should have the latest features, unfortunately I can't commit any time at present to this feature now due to my other commitments, but it should work for your use case I guess. Feel free to comment below, if you are facing some issues on that.

[2021-02-07 07:33] privateOmega commented on #49
@orasik Unfortunately, there isn't any equivalent of div in OOXML standards, so we skip div as a whole, at present I don't have any alternative suggestions on this other than translate styles to inner elements if possible.

[2021-02-07 07:34] privateOmega commented on #50
@amrita-syn PTAL.

[2021-02-07 17:20] orasik commented on #49
@privateOmega Thank you for your reply.
I found a workaround and that is by using `"style:text-align:right"` inside `<img>`
I am happy to add an example and raise a PR if you agree.

[2021-02-08 05:31] privateOmega commented on #49
@orasik Well the change that you did was for a very specific case right? i don't think an example of that is required as part of examples, but I guess if you update your entire example along with fix here, that might help as a pointer for new users. I will close this issue, once you post that. Thanks.

[2021-02-09 06:43] amrita-syn commented on #50
@neojp The underlying issue is that the border string parser is limited right now - `border: 0` vs `border: 0px` vs `border: 0px solid white`, etc.

For the time being, you can use the following -

[code]

![image](https://user-images.githubusercontent.com/45505551/107325693-32071980-6ad0-11eb-9e31-4282160ae207.png)

[2021-02-09 06:43] #50 closed

[2021-02-09 06:50] amrita-syn opened #52 "Table border - should honor unit-less or abbreviated strings or individual css border properties"
Table border - should honor unit-less or abbreviated strings or individual css border properties

Example -
This works:
[code]

This **DOES NOT** work:
[code]

Expected result - All border related css definitions should work

[2021-02-09 06:56] amrita-syn commented on #2
Column (`td` level) widths are now supported by adding `style="...; width: 25%; ..."` to the `td` elements. Closing issue.

[2021-02-09 06:56] #2 closed

[2021-02-09 06:58] amrita-syn commented on #29
Closing due to inactivity.

[2021-02-09 06:58] #29 closed

[2021-02-09 06:59] amrita-syn commented on #34
Closing due to inactivity.

[2021-02-09 06:59] #34 closed

[2021-02-09 07:27] amrita-syn commented on #48
We are now supporting skipping header on first page.

[2021-02-09 08:04] amrita-syn commented on #39
The heading tags only use a default style. It will be fixed by building the style fragment for those tags. PR welcome.

[2021-02-09 10:08] neojp commented on #50
This makes sense. Thank you very much, this resolved the issue for me.

Ideally, I'd love to see an example about this in the docs.

[2021-02-10 07:44] orasik commented on #49
Thanks @privateOmega
My specific case was just to align an image to the right.

Here is the code:

[code]

`text-align` is not a valid CSS for `<img>` but it worked fine when I exported the docx file.

[2021-02-10 08:21] #49 closed

[2021-02-12 12:32] karatekaneen opened #54 "Links does not render in non-block elements"
* version: 1.1.34
* node: 15.6

When experimenting with links I noticed that links that are in non block elements disappear. I saw #30 where links work but following example does not work for me:

[code]

[2021-02-13 13:21] privateOmega commented on #54
I will take a look at it, when I get some time, thanks for reporting it. Feel free to raise a PR if you would like to.

[2021-02-16 10:39] hsharma1996 opened #55 "How to set custom list style/numbering"
I have a multi-level list, I want to set custom numbering to each level, can you tell me how that can be done ?
![image](https://user-images.githubusercontent.com/22193281/108051682-2dfb6e80-7071-11eb-9cea-8e3d4fac570e.png)
This is what I get from library if I add a span in each list to display number.
Thanks :)

[2021-02-16 13:14] KeithGillette opened #56 "Custom page size?"
Thanks for this extremely useful library!

I think a useful (and hopefully trivial) improvement would be to support custom paper sizes as a property in the `documentOptions` parameter. I think the maximum page size supported my Microsoft Word is 22"x22". Perhaps instead of passing `orientation`, one could pass `size.height` and `size.width` in any supported unit.

[2021-02-16 14:09] KeithGillette commented on #41
I believe this issue is not limited to `<p>` tags. Images also do not render when inside several other tags. In my limited testing this includes:

- li
- span
- strong
- i
- u

[2021-02-17 23:50] KeithGillette commented on #41
I've spent a few hours poking around and I think the issue is that the xml-builder only checks for  `buildImage` when processing select elements like divs and tables but not when building paragraphs of inline elements or blockquotes. Unfortunately, I can't find the right place(s) to insert additional calls to `buildImage` to correct the problem. My attempts lead to call stack overflows or only lim

[2021-02-19 07:59] martin-lorenz commented on #51
Hi @privateOmega thank you very much for taking a look. I just installed 1.1.34, but <sup> still renders a subscript format. Can you confirm that this fix has made it into 1.1.34? Thanks again!!!

[2021-02-19 18:25] privateOmega commented on #39
#53 addresses using defined heading styles from styles.js, and once that is landed, we can create a new option to be passed which can hopefully modify before and after spacing for different styles of text in docx.

[2021-02-19 18:32] privateOmega commented on #51
@martin-lorenz I have double checked the issue and it seems like it was merged, released, and works with v1.1.34. I am attaching a screenshot of the feature being tried out. Maybe posting the usage and relevant part of html would help narrow down the issue.

![Screenshot 2021-02-19 at 11 59 35 PM](https://user-images.githubusercontent.com/10467133/108546219-d37f3e00-730e-11eb-824a-ebf0b9a7790d.png

[2021-02-19 18:38] privateOmega commented on #55
@hsharma1996 Could you please post the input file you are using along with the html-to-docx configuration as a js file, that would help me understand the issue at hand better.

[2021-02-19 18:42] privateOmega commented on #56
@KeithGillette Feel free to take it up and raise a PR, its a very simple task and we already have unit conversions written in place and we just have to do those conversions before we generate the document.xml, it shouldn't take any time to wire this feature up. Do tell me if you would like to take it up, else I/someone will take it up asap.

[2021-02-22 11:02] hsharma1996 commented on #55
@privateOmega  There is nothing wrong with it. I have a lot of ordered lists and unordered lists in the html, I want the numbering to be manually supplied
So what you can see in image is, even though i supplied the numbers(1.0,1.1,1.1.1 etc), it is still taking numbering by default 1 2 3.

[2021-02-22 11:30] privateOmega commented on #55
@hsharma1996 At present, we don't support this feature, but if somebody could raise a PR for that, I would happily merge it.

[2021-02-22 12:45] hsharma1996 commented on #55
@privateOmega  maybe some guidance and I could do that myself with some research ?

[2021-02-22 14:55] privateOmega commented on #55
@hsharma1996 Sure, have at it. Basic Guideline: Fork the repo and create a branch off of `develop`, namely like `feature/custom-numbering`. I think we should be getting the format as an option and then the numbering fragments should be constructed appropriately. checkout `docx-document.js`, there is a method called `generateNumberingXML`, which does this with default values. I guess that would ser

[2021-02-23 00:35] KeithGillette commented on #56
Hi @privateOmega. I took a deeper look to investigate raising a PR and see unit conversion functions, but not a central unit detector function to call them and return a normalized size. Am I missing something?

[2021-02-23 04:34] privateOmega commented on #56
@KeithGillette Checkout `docx-document.js`, thats where we assign width and height based on the orientation, so before that is called, you could probably do the conversion in `html-to-docx.js`, along with fixing up margins. Keep in mind that we need to preserve existing functionality though.

[2021-02-23 19:36] 4got opened #57 "When margins are set - MS Word Error"
Hi, default margins are bad for me, so i use this
[code]

but
MS Word shows an Error

![image](https://user-images.githubusercontent.com/32334252/108897443-287cc600-7627-11eb-8f9c-a4e0268e09aa.png)
it is said: "Open the file with reserve copies converter / file is corrupted"

only Google Docs could open
help pls!

[2021-03-02 10:14] diptobuet opened #59 "Image is not generating in word from html at any tag."
`    async function htmdoc(htmlstr) {
        htmlstr=`<div>
    <h3>this is test</h3>
    <img id="gImg" src="http://localhost:10002/uploads/testImage.png">
</div>`
        const filePath = './example.docx';
        var documentOptions = {
            pageNumber: true
        }
        const fileBuffer = await htmlToDocx(htmlstr, '<p>this is header</p>', {
            table: { row: { cantSplit: t

[2021-03-09 15:38] ronanjia commented on #47
hi, @privateOmega, Help please, sorry i just can't get it to work in browser.
i installed the feature/browser-example branch, and only got '/example' and '/node_modules' 2 directories in my 'html-to-docx' package
![image](https://user-images.githubusercontent.com/5581839/110495615-a49b0180-812f-11eb-8c4c-0b36f5f0e0d0.png)

I thought some key files might be lost, so i copied '/src', '/template', 'i

[2021-03-10 03:00] ronanjia commented on #3
hi, @privateOmega, Help please, sorry i just can't get it to work in browser.
i installed the feature/browser-example branch, and only got '/example' and '/node_modules' 2 directories in my 'html-to-docx' package
![image](https://user-images.githubusercontent.com/5581839/110495615-a49b0180-812f-11eb-8c4c-0b36f5f0e0d0.png)

I thought some key files might be lost, so i copied '/src', '/template', 'i

[2021-03-10 12:54] redbrain commented on #3
hi @ronanjia !
Currently, this project isn't functional in browser, that's why this issue is open. It'll be closed when browser support is released.
Until then, try using another, such as https://github.com/evidenceprime/html-docx-js . Not as good, but browser supported.

[2021-04-06 15:19] alfstarace opened #63 "[feature-request] synchronous version"
It would be nice t have also a synchronous version

[2021-04-15 20:53] cooleraid opened #64 "How to set continuous line number?"
Can we have an option to set a continuous line number in the word document?
(You can also send a guide on how to do that in the code) @privateOmega

[2021-04-15 20:56] cooleraid opened #65 "How to align page number to the bottom right?"
Can you please point out how to handle changing the page number from the bottom left to the bottom right? @privateOmega

[2021-04-19 06:27] privateOmega commented on #65
@cooleraid its quite easy, just give a footerString containing a `<p></p>` tag with `text-align: right;`

Short snippet on this lifted from example files and modified

[code]

Closing this issue. Feel free to reopen if you need any more clarity on this.

[2021-04-19 06:27] #65 closed

[2021-04-19 06:27] privateOmega commented on #64
@cooleraid What do you mean continuous line number? maybe an example image and html snippet on what you are trying to achieve would bring more clarity into your question.

[2021-04-19 06:31] privateOmega commented on #63
@alfstarace Do you feel there's any explicit advantage you would get from a synchronous version?

Unfortunately the library I use for creating zip, JSZip doesn't have a synchronous method for generating it I guess, so feel free to contribute the change as a PR if you can, I will be happy to merge it, if all looks good.

[2021-04-19 06:32] privateOmega commented on #59
@diptobuet  Sorry for the delay in answering this, I haven't had the time to go through this repo for sometime now.

What do you mean normal html image?

[2021-04-19 06:33] privateOmega commented on #57
yes sorry, I will fix the margin merging, so that you won't have to explicitly provide other margins if you need to change only certain values. @iagomontenegrob 's proposed answer should work for you.

[2021-04-21 18:45] cooleraid commented on #64
![image](https://user-images.githubusercontent.com/32748319/115604954-ddef9100-a2d9-11eb-9b7e-387f6cc2e4fa.png)
The continuous line numbers are used to number each line of the word document.

[2021-04-22 14:00] killianhuyghe opened #66 "Change default paragraph spacing"
I'd like to change the default paragraph spacing (before/after). Is there a way to do this?

[2021-04-25 09:53] privateOmega commented on #64
@cooleraid Have created a PR #67  for this feature, hopefully it will get merged soon after review.

[2021-05-01 12:46] privateOmega commented on #3
Guys, I am extremely sorry about turning a blind eye towards this much requested feature for so long, I was so occupied with other things, that I wasn't able to put in any time on this and get this feature out, but today I did spend some time and it seems like there's some issue that I am facing with `npm` specifically and not `yarn` and seems like that was the culprit all along and it was mislead

[2021-05-01 12:47] privateOmega commented on #3
@ronanjia Thanks a lot for posting this, it helped me find that this happens only when you try installing with npm and not yarn. Could you please try with yarn and post the result here?

[2021-05-06 20:23] amilich opened #69 "How to use with webpack / react"
Hi! I'm seeing `Uncaught TypeError: fs.readFileSync is not a function`. Any suggestions? Have tried importing from `dist` in addition to the normal package.

[2021-05-06 20:25] amilich commented on #69
@privateOmega is https://github.com/privateOmega/html-to-docx/pull/68 intended to address this?

[2021-05-06 20:29] amilich commented on #69
Duplicate of https://github.com/privateOmega/html-to-docx/issues/3

[2021-05-06 20:29] #69 closed

[2021-05-06 20:36] privateOmega commented on #69
@amilich How have you installed the package? try the steps mentioned towards the end in #3

[2021-05-06 20:41] amilich commented on #69
I've tried, I now see `Internal Error: Invalid descriptor (https://github.com/privateOmega/html-to-docx.git#feature/browser-example)` on yarn2

[2021-05-06 20:45] privateOmega commented on #69
@amilich `yarn add <package name>@git+ssh://<git remote URL>#semver:^3.2.0` this is the format for yarn2, not `yarn add url`. You have to explicitly specify package name I guess.

Lifted from here https://github.com/yarnpkg/berry/issues/994#issuecomment-628586986

[2021-05-06 20:49] amilich commented on #69
yarn add html-to-docx@git://github.com/privateOmega/html-to-docx.git#feature/browser-example seems to have worked!

[2021-05-06 21:23] amilich commented on #69
Still seeing package unable to be resolved... not sure what's up. Have had issues adding via GH urls before

[2021-05-06 21:40] amilich commented on #69
Do you plan on merging https://github.com/privateOmega/html-to-docx/pull/68 soon?

[2021-05-11 09:04] sohinim98 opened #71 "How to render latex in the word doc while using html-to-docx"
The HTML contains ng-katex that renders math equations like \frac{a}{2} (the simplest case) - however that's not rendered in the doc properly. Is there a solution/workaround?

[2021-05-21 12:06] amrita-syn commented on #71
You need to get the rendered html content with its styles. Pre-processing required.

![image](https://user-images.githubusercontent.com/45505551/119134708-1d390b00-ba5b-11eb-92bd-2016c6165d10.png)

[2021-06-01 16:31] novecento opened #73 "List of supported style"
Hi, do we have a list of supported styles?
To understand what can I do :-)
Thanks.

[2021-06-02 12:45] leewssam commented on #17
Hi, is there any way to mimic line height or margin-top or padding-top? that can add a possible space in between line?

[2021-06-03 14:12] simon-jouet commented on #51
Hi @privateOmega just noticed the same issue locally running 1.1.34 the super script are rendered as subscript.

With a simple HTML like this

[code]
I get the following

![image](https://user-images.githubusercontent.com/832495/120658873-bd405c80-c47d-11eb-99df-ad3ffb945f8c.png)

I think the issue is that the npm package hasn't been rebuilt? Looking at node_modules/html-to-docx/dist/html-to-docx.

[2021-06-03 15:18] simon-jouet opened #74 "Leading and Trailing spaces"
Hi there,

Thanks for the library, this is a great time saver.

I'm running a bit into an issue. I have a paragraph `<p>` that gets converted properly but I would like to indent the first line of the paragraph by 3 spaces.

My first attempt was using a `margin-left` which doesn't look to be supported. I then tried to go the dumb way and use cheerio to add three space characters after the `<p>` whi

[2021-06-03 19:46] privateOmega commented on #74
@simon-jouet Well normal space gets trimmed, but I guess a solution for you could be usign &nbsp; and I don't think it gets trimmed out. Do tell how it goes.

[2021-06-03 19:47] privateOmega commented on #73
@novecento What do you mean by supported styles? do you mean css styles?

[2021-06-03 19:57] privateOmega commented on #66
@killianhuyghe Not right now, would be glad to merge a PR for that feature.

[2021-06-04 07:13] novecento commented on #73
Yes, I mean if you have a list of css styles that I can use :-)

[2021-06-04 07:45] amrita-syn opened #75 "Browser Vanilla usage"
We need a browser a example. Rudimentary beginning attached. I couldn't get the file to get attached to `window`... may be you know how?

[browser-example.zip](https://github.com/privateOmega/html-to-docx/files/6499855/browser-example.zip)

_Originally posted by @amrita-syn in https://github.com/privateOmega/html-to-docx/issues/68#issuecomment-842990196_

[2021-06-05 12:22] privateOmega commented on #3
Finally released a new version which contains the changes for browser support, even though it doesn't have support for direct usage using script tag, but it does work with React, so yay. :D

Closing this issue.

[2021-06-05 12:22] #3 closed

[2021-06-05 12:22] privateOmega commented on #69
@amilich Please test with latest version 1.2.1.

[2021-06-06 12:03] ghilaslinz opened #76 "Unhandled Rejection (TypeError): fs.writeFile is not a function"
Hello,
@privateOmega @amrita-syn

when i try to use the library in a react js component i have this error

`Unhandled Rejection (TypeError): fs.writeFile is not a function`

When i replace `const fs = require('fs');` with `import fs from 'fs';  `
I have this error
`Unhandled Rejection (TypeError): fs__WEBPACK_IMPORTED_MODULE_2___default.a.writeFile is not a function`

This is my code :

[code]

[2021-06-06 12:06] privateOmega commented on #76
@ghilaslinz fs is not available on react, its stubbed out by design. Ref: https://stackoverflow.com/questions/55301477/fs-writefile-is-not-working-on-my-reactjs-nodejs-app

You can use packages like [save-file](https://www.npmjs.com/package/save-file).

[2021-06-06 12:07] privateOmega commented on #76
[code]

Attaching my example for reference. And closing the issue.

[2021-06-06 12:07] #76 closed

[2021-06-06 16:02] ghilaslinz commented on #76
Thank you

[2021-06-06 16:13] ghilaslinz opened #77 "Export CSS style"
Hello, @privateOmega

I would like to thank you for the last issue you resolved to me.

I have a question how i can also export the CSS style.

What should i add to also export CSS style ?

[code]

[2021-06-06 16:34] tco7878 commented on #47
@privateOmega Thank you for this long awaited feature :)

I am currently trying to get it to work in an Angular Application using the following code:

[code]

However I am getting the following error:

[code]

Any Ideas on how to resolve that?

[2021-06-06 16:47] privateOmega commented on #47
@tco7878 Why are you importing and using the umd build?

Can't you just do `import * as htmlToDocx from 'html-to-docx'` and I guess that should work.

[2021-06-06 16:49] privateOmega commented on #77
@ghilaslinz What do you mean by exporting css? in this package, we just generate the docx file, thats it. But if you mean apply css from external file onto html for those to reflect in docx, use [juice](https://www.npmjs.com/package/juice), that is what I use.

[2021-06-06 16:50] privateOmega commented on #73
@novecento Sorry, I haven't compiled a list, and it would take me sometime to compile one, which I can't commit for at present. Maybe give it a look through the source code and you would get the idea of things currently supported.

[2021-06-06 17:10] tco7878 commented on #47
@privateOmega thanks for your answer. Unfortunately this does not help. I did try importing from 'html-to-docx' as well as importing the esm and umd build directly. The error remains the same

My Angular project is targeting ES5 maybe it is related to that.

[2021-06-06 17:12] privateOmega commented on #47
@tco7878 Sorry I couldn't be of more help, I am not that used to typescript and also just curious, do you get the the same error when you use the `import * as htmlToDocx from 'html-to-docx'`?

[2021-06-06 17:17] tco7878 commented on #47
@privateOmega I've just tested it and `import htmlToDocx from 'html-to-docx'` leads to the same error. I've also tested `import {htmlToDocx} from 'html-to-docx' ` and `const htmlToDocx = require('html-to-docx')` as well as `const htmlToDocx = require('html-to-docx/dist/html-to-docx.esm')`  and `const htmlToDocx = require('html-to-docx/dist/html-to-docx.umd')`

[2021-06-07 09:01] ghilaslinz commented on #77
hello @privateOmega,

Yes it is what i mean apply css from external file onto html for those to reflect in docx.
Do you have a snippet code to apply juice to a react component

Best regards

[2021-06-07 10:55] simon-jouet commented on #74
Thanks @privateOmega for the reply, I had tried &nbsp; and just tried again it kind of works but it's also rendered differently. In libreoffice at least it's rendered as a gray space

![image](https://user-images.githubusercontent.com/832495/121004974-35ad6300-c787-11eb-8589-309c5466f7ad.png)

[2021-06-07 12:25] #73 closed

[2021-06-07 18:51] privateOmega commented on #77
@ghilaslinz Please check for an example in the juice repo. This is what I use `juice.inlineContent(contentHTMLString, styleFileContent)`. Also closing the issue since its not relevant to html-to-docx.

[2021-06-07 18:51] #77 closed

[2021-06-07 18:53] privateOmega commented on #74
@simon-jouet &nbsp; is kind of the cleanest approach I could think of. Please check if that same grey space is there on other word processors? I tested this on  wps for mac, and it doesn't seem to have this issue. Also closing the issue since its not relevant enough for html-to-docx.

[2021-06-07 18:53] #74 closed

[2021-06-07 18:55] privateOmega commented on #75
I tried different configuration on rollup with different packages as well to get the umd build working on vanilla browser, but not sure why nothing works. This would require some help someone who knows bundling well and use of bundlers like rollup, webpack, parcel etc. I don't mind switching to other bundlers, as long as we can produce all sorts of builds that works everywhere.

[2021-06-08 12:37] tco7878 commented on #47
Update: I've found out that this issue only occurs when targeting ES5. When targeting ES2015 in Angular html-to-docx works like a charm. Unfortunately targeting es2015 is not an option for us. I'll try to further investigate this issue

[2021-06-09 19:42] RoxnnyABarriosC opened #79 "@Types"
`declare module 'html-to-docx'
{
    interface Margins
    {
        /**
         * top <Number> distance between the top of the text margins for the main document and the top of the page for all pages in this section in TWIP.
         * Defaults to 1440. Supports equivalent measurement in pixel, cm or inch.
         */
        top: number;

        /**
         * right <Number> distance between t

[2021-06-10 04:30] privateOmega commented on #79
@RoxnnyABarriosC Please raise a PR with this typescript definition, and also do we need any sort of typescript configuration to make use of this definition?

[2021-06-10 05:48] gazu36 opened #80 "Direction not supported?"
Trying to set `<body dir="rtl">` and it keeps the document LTR

[2021-06-12 07:58] privateOmega commented on #80
@gazu36 Sorry, we don't yet support rtl, and definitely don't support reading dir attribute of body tag. I had attempted at rtl once in #40 . I am closing this issue in favor of that, so we have a single place to keep track of.

[2021-06-12 07:58] #80 closed

[2021-06-17 20:49] nbright01 opened #81 "Exporting HTML with MathML included"
I am trying to export HTML which includes MathML elements but the equations are not appearing in the docx file.

`<math xmlns="http://www.w3.org/1998/Math/MathML">...</math>`

The mathML elements are enclosed by <p>'s. But that didn't seem to make a difference.

[2021-07-09 05:48] gaganjot-kaur3197 opened #82 "Image Issue with Tables"
Hello Team

I hope you are doing well. I have used your NPM library html-to-docx for converting html templates to docx files. I am facing some issues with inserting images into them.
I have tried multiple ways of inserting images inside html.
1. Absolute URL - Links to an external image that is hosted on another website
2. Relative URL - Links to an image that is hosted within the website.
The abo

[2021-07-09 14:57] casperon opened #83 "List inside table not working"
If we add list inside a table, then the result not showing the contents of list tag. Is this known issue? or we need to do any workaround to achieve this? Any suggestions would be helpful.

[2021-07-09 18:18] privateOmega commented on #81
@nbright01 Sorry for getting back to you on this issue this late.

I have no clue about `mathml` and how it works, but #71 looks somewhat relevant and has a recommendation to try out.

[2021-07-09 18:28] privateOmega commented on #83
@casperon Yes this is a known issue, which needs to be worked on, but unfortunately I won't be able to spare anytime soon. Would really appreciate PR for this.

[2021-07-09 18:33] privateOmega commented on #82
@gaganjot-kaur3197 Hope you are doing good as well. Currently images are only supported by base64 string, although a fix for external urls should be straight forward to implement. Happy to merge a PR, if you could raise one.

I am not really what table issue are you referring to because I tried opening it in WPS and it seems to have all the borders. Any chance you tried zooming in/out, I have seen

[2021-07-12 08:06] gaganjot-kaur3197 commented on #82
Hi @privateOmega ,
Thanks for the information. We have not made any changes in your module so far and implemented it in our application codebase only. If you already have a fix for this then can you please apply and release it.
Regarding table border issues, We are facing this issue only when we are adding images to the html templates. Otherwise, It is working fine for us.

[2021-07-12 10:12] privateOmega commented on #82
@gaganjot-kaur3197 I also haven't worked on bringing support for external images to html-to-docx, so thats something that I could only take up whenever I become available. And like I said, are you facing issues at all zoom levels, I had already attached screenshots of the same documents, you had attached opened in WPS, chances are it must be a bug from MS Office, since it works smoothly on WPS, MS

[2021-07-12 11:53] gaganjot-kaur3197 commented on #82
Thanks @privateOmega for quick help. We will look into this.
Please update once when you will work on external images support.

[2021-07-17 19:38] privateOmega commented on #64
@cooleraid I've merged the corresponding PR, I will be releasing a new version with the feature included. I apologize for the delay. I am closing this issue, but feel free to reopen the issue if you face any issues with the feature.

[2021-07-17 19:38] #64 closed

[2021-07-17 19:41] privateOmega commented on #64
released v1.2.2 with this feature.

[2021-07-21 13:01] trannhutle opened #85 "Example does not work"
HI @privateOmega ,

I just clone the project, I do `yarn install` and then `yarn test`.
It shows this error message.

![image](https://user-images.githubusercontent.com/14163032/126492603-d34c8d48-1400-47de-8bd5-d7818ab3f129.png)

Can you please show me how to fix and run the example.
Thanks.

[2021-07-21 19:20] privateOmega commented on #85
@trannhutle Could you please elaborate on your project setup like
OS and version :
node version :
npm/yarn version :
is typescript project :
is it being installed in a project with any sort of framework like react, angular etc :

Please add as much as details so I can try to replicate it.

[2021-07-25 16:02] wnabil commented on #3
@privateOmega i got `Cannot call a class as a function` using the latest version 1.2.2 when tsconfig is targeting es5
`import * as HTMLtoDOCX from 'html-to-docx'; or import HTMLtoDOCX from 'html-to-docx'; const HTMLtoDOCX = require('html-to-docx');` did not help

the project have to target ES2015 then it will work.

[2021-07-28 06:59] metapone opened #86 "Support <tr> with no <td> inside"
Per [HTML5 spec](https://html.spec.whatwg.org/multipage/tables.html#the-tr-element), a <tr> can have no children inside it:

But if a `<tr></tr>` is inserted into the html string, the output file will be corrupted.

[2021-08-09 13:41] TheDarkStrix commented on #59
@privateOmega I think he means
[code]

Non-base64 sources.

Currently is there any way to get this working ?

[2021-08-09 19:01] TheDarkStrix opened #87 "<p> not recognized in Lists"
[code]
In the above sample the content inside <p> is not printed .

Output :

![image](https://user-images.githubusercontent.com/18639879/128759774-cc995b86-bf64-426d-8cfb-8d808f912f68.png)

[2021-08-10 07:52] kurukururuu commented on #83
+1. though I am currently working for it right now.

[2021-08-10 14:00] TheDarkStrix commented on #41
Hey guys,

Any progress in this regard ?

[2021-08-15 13:55] privateOmega commented on #59
@TheDarkStrix Sorry, i haven't had the time to look at anything on this project for sometime now, and unless we get someone who could help us out in this matter, there isn't much for now, sorry for that.

[2021-08-15 13:57] privateOmega commented on #83
@kurukururuu Thanks for the help, please raise a PR off of develop and I will merge it after testing.

[2021-09-06 12:49] MichaelSh13 opened #88 "Not working with tags: pre, code;"
It's ignoring html code with tags: pre, code.
I need generate .docx file with some data and html from markdown editor. But html code with tags pre and code just ignored.

[2021-09-15 20:32] privateOmega commented on #88
@MichaelSh13 I've released version 1.2.3, you should find support for code, and pre tags supported. Feel free to reopen the issue if you face any issues still.

[2021-09-15 20:32] #88 closed

[2021-09-16 19:55] SensiateLeo opened #92 "Unhandled Rejection (TypeError): Cannot call a class as a function error"
Hello,

I'm  using the html-to-docx lib to generate docx documents in one one my React projects and recently I am getting the following error when trying to use the HTMLtoDocx() method:

![image](https://user-images.githubusercontent.com/31324602/133677085-dc1b1211-2384-4dea-bb5a-f46531d9ea09.png)

Apparently it starts on the 'html-to-docx.js:171' file. Any idea of why this is happening?

[2021-09-17 12:56] privateOmega commented on #92
Could you please post other details and the code you used?

[2021-09-17 15:26] SensiateLeo commented on #92
Sure. I use the lib to generate a docx document of one of my React components, so I added a button which triggers the following function when clicked:

`const generateDocx = async (my variables) => {
  const html = ReactDOMServer.renderToStaticMarkup(<MyComponent
    componentProps
  />);
  const converted = await HTMLtoDOCX(html, null, {
    font: 'Roboto',
    margins: {
      top: '24px',

[2021-09-20 18:57] zees98 opened #94 "TypeError: Cannot read properties of undefined (reading 'type')"
Hello,
I am trying to use html2docx for a react project. But for some reason it keeps crashing with the error:
**TypeError: Cannot read properties of undefined (reading 'type')**

I have tried it with the example and then changed it. Both codes yield the same error.

[code]
This is my rendition of the code.

### **My enviroment:**

macOS: 12.0 Beta
package version: 1.2.4
node version: v16.3.0

Tha

[2021-09-20 19:45] privateOmega commented on #94
Could you possibly post the html string you used? looks like either a bug or an edge case

[2021-09-20 19:48] privateOmega commented on #92
@SensiateLeo Any chance you added a new element to the page or the html output of renderToStaticMarkup changed significantly?

[2021-09-21 14:36] SensiateLeo commented on #92
@privateOmega unfortunately no. The page is the same as 1 month before. But recently I updated the project packages and some of the libraries had their version upgraded... could this be a problem?
I was using the 1.2.2 version, but I also tried 1.2.3 and the problem persisted.

[2021-09-22 10:19] zees98 commented on #94
Apologies for replying so late.

This is my html string.
`<h2>Hello, World!</h2><p>This is some text over here.</p>`

[2021-09-22 17:28] privateOmega commented on #94
@zees98 No worries, Its quite unlikely that the package failed with that html string because I am able to generate it without any issue on my laptop with react-example in the `examples/` in this repo.

Could you please let me know what's the end result after clone this repository, and run the example and try it out? I am super curious about this issue.

[html-to-docx.docx](https://github.com/priva

[2021-09-22 17:30] privateOmega commented on #92
@SensiateLeo Yes I guess, but cant say anything for sure, Could you please post the markup string here?

[2021-09-22 19:35] zees98 commented on #94
Thank you for the reply.
I will clone the example and let you know.
Cheers

[2021-09-22 20:52] zees98 commented on #94
@privateOmega
Hello again.
So I tried the example and the error I was facing is gone. I also took some assistance from one of your closed issues since my use case is with ReactJS as well.
But now I am receiving another error.
`Unhandled Rejection (TypeError): Cannot call a class as a function

My HTML string:
[code]
The altered method:
[code]

[2021-09-23 14:39] JoRios1006 opened #99 "Doesn't render any image in Google Docs or Libre Office"
I used the example in this repo to be 100% transparent.
No images.
![Screenshot from 2021-09-23 11-39-30](https://user-images.githubusercontent.com/87106227/134528149-56025425-71b4-4ebe-8a3c-289e58741fb5.png)

[2021-09-23 14:42] JoRios1006 commented on #99
The dot is the img...

[2021-09-23 14:42] #99 closed

[2021-09-23 20:50] privateOmega commented on #94
@zees98 That just didnt make any sense to me, since you havent really changed any part of the code wrt html-to-docx, but I did notice that you are using a package called file-save, if its the [one on npm](https://www.npmjs.com/package/file-save) , then you are using it wrong and that could be the origin of your error. If you still feel its an issue with html-to-docx, I would suggest for you to upl

[2021-09-23 20:52] privateOmega commented on #94
Oh just noticed that the same issue was reported in #92 , hence closing the issue to track it there.

[2021-09-23 20:52] #94 closed

[2021-09-23 20:53] privateOmega commented on #92
@SensiateLeo @zees98 I think its possibly an issue with the import because of the loader you are using, could you please console.log(HTMLtoDOCX), I think instead of a function, its getting loaded as a class for some reason.

[2021-09-23 20:54] privateOmega commented on #94
@zees98 I might possibly have figured out the issue, please follow the step in the other issue.

[2021-09-23 20:57] privateOmega commented on #92
Try out the following syntaxes
[code]

One of it should work I guess.

[2021-09-24 08:28] zees98 commented on #92
@privateOmega First of all I really appreciate all the help. Secondly, I did as you suggested with the import statements. But no luck.
I'll list down my finding with each method below.

`import HTMLtoDOCX from 'html-to-docx';`
`import { default as HTMLtoDOCX} from "html-to-docx"; `

these 2 methods yield the same console.log result.

console.log results:
[code]

`import * as HTMLtoDOCX from 'html-

[2021-09-24 08:33] privateOmega commented on #92
@zees98 it's a fluke, can we try `import { HTMLtoDOCX } from 'html-to-docx';` as well? It's a fluke attempt, but I am out of ideas.

[2021-09-24 08:36] privateOmega commented on #92
@zees98 @SensiateLeo  are you guys on webpack 5?

[2021-09-24 08:52] zees98 commented on #92
![image](https://user-images.githubusercontent.com/26415558/134646566-a7ba6738-7706-49dc-98c9-4f1a62240ecb.png)

[2021-09-24 08:53] zees98 commented on #92
i executed npx webpack --version in my project and got this:
[code]

[2021-09-24 09:53] zees98 commented on #92
Update:
I upgraded Webpack.
[code]
But the issue persists.

[2021-09-24 14:28] SensiateLeo commented on #92
@privateOmega First of all, I really appreciate all the help until the moment.

As @zees98, I tried all the steps that you suggested but the issue still persists

[2021-09-24 14:29] SensiateLeo commented on #92
I'm also getting the same errors that @zees98 commented before

[2021-09-24 14:40] privateOmega commented on #92
@zees98 @SensiateLeo could one of you make a sandbox repo for me also to reproduce this issue?

[2021-09-24 15:09] zees98 commented on #92
Sure, I'm on it.

[2021-09-24 15:55] zees98 commented on #92
@privateOmega  @SensiateLeo
I wanted to report that the package is indeed working. I made the sandbox project (adding to GitHub in a bit).
But what I find mysterious is that the code was a copy and paste.

Attaching GIF below
![demo](https://user-images.githubusercontent.com/26415558/134704943-95955cb1-5e91-4dbc-a539-683f9bf2e1dd.gif)

[2021-09-26 13:41] zees98 commented on #92
@privateOmega @SensiateLeo
Hello, again guys!

**I have got the package to work for me!**

I just removed the conversion code from my front end and added it as an API route to my project's backend. Now it works fine.
As shown in the video below:
![Uploading demo_2.gif…]()

Here is the server-side route code
[code]
This may not be the perfect solution for some cases but I believe my project was the

[2021-09-27 17:13] privateOmega commented on #92
@zees98 I'm so happy that you could make it work by running it in the backend, but then again I wish it was working you for the frontend setup as well.

I strongly feel its an import problem due to some loader issue, which is something similar to what I was facing when I was trying to make it work on browsers, for setups without frameworks like react.

If one of you has some experience with loader

[2021-09-29 06:45] zees98 commented on #92
@privateOmega Thank you so much!
I have been working with Javascript for a total of 4-5 months now. Once I study loaders in JS, I'll be more than happy to help out!
Cheers!

[2021-10-14 00:27] spacesEdward opened #101 "Is there any way to add a table of contents?"
html-docx-js allowed you to insert a ToC field via this html
[code]

Is there an equivalent workaround here?

[2021-10-20 10:33] Siddufed opened #102 "different footer"
how to add different footer in different pages can u please provide the solution thanks!!

[2021-11-12 13:18] jevakallio opened #103 "HTML minification removes significant whitespace between consecutive tags"
Consider the following html:
[code]

The `minifyHTMLString` routine in index.js removes whitespace between the elements, ending up with:
[code]

So the output becomes:
![image](https://user-images.githubusercontent.com/1203949/141473319-98521721-242a-4d47-8436-5653674dafcf.png)

Whereas the desired output is:
![image](https://user-images.githubusercontent.com/1203949/141473160-35be61c2-62ac-4bc6-9

[2021-11-22 17:58] lvndry commented on #79
Any updates on this ?

[2021-11-22 22:51] svandegar opened #104 "Heading line height not compatible with libreoffice PDF conversion"
When H1 or H2 covers multiple lines, the second line overlapps a part of the first line.

<img width="694" alt="CleanShot 2021-11-22 at 18 25 14@2x" src="https://user-images.githubusercontent.com/38084243/142944254-ccf52089-adfb-4c46-8d08-5a29d459de97.png">

Steps to reproduce:
1. Generate a DOCX with a long h1 or h2, on multiple lines.
2. Convert if to PDF with libreoffice cli: `soffice --headles

[2021-12-08 14:57] betaWeb commented on #2
Same problem here : the width of `td` elements is not taken into account and the resulting docx just gives two 50% columns...

[2021-12-08 18:21] amrita-syn opened #105 "> Column (`td` level) widths are now supported by adding `style="...; width: 25%; ..."` to the `td` elements. Closing issue."
I can't for the life of me get td: width to work with the latest release. The resulting docx just gives two 50% columns.

Here's my code:

`<table style="text-align: left; border:0px solid white; width: 100%; table-layout: fixed">
        <tr style="border: 0px;">
        <td  style="border: 0px; width: 40%">
              <p>Some Text Here</p>
        </td>
        <td style="border: 0px; width:

[2021-12-08 18:23] amrita-syn commented on #2
To be addressed in #105

[2021-12-09 08:55] betaWeb commented on #105
Same problem here : the width of td elements is not taken into account and the resulting docx just gives two 50% columns...

[2021-12-14 16:43] erenard opened #106 "Support for paragraph indentation"
Proposed solution:
form the given HTML:
[code]
- use `pixelToTWIP` to convert units
- generate the following indentation object:
[code]
Of course right indentation works the same way.

[2021-12-15 21:50] privateOmega commented on #106
Merged #107

[2021-12-15 21:50] #106 closed

[2021-12-21 09:45] erenard commented on #106
Hello @privateOmega, I would like to use the next version of `html-to-docx` as a dependency in another project.
I need the «html margins to indentation» feature for that project, can you make a new release on npm please ?

[2021-12-28 03:34] lichuyuan224 opened #112 "The lastest version will cause the error occured in build，please pay attention to it"
![image](https://user-images.githubusercontent.com/83797559/147525254-592561f4-5e4d-4687-bee1-e1594433076c.png)

[2021-12-28 17:01] erenard commented on #112
I have encountered the same problem.
Webpack complain about not knowing how to load the esm module.
Others dependencies (vue and apollo) are loaded from esm module without problem.

[2021-12-28 17:25] privateOmega commented on #112
@lichuyuan224 @erenard Seems like I have figured out the issue, and its for some reason with the optional chaining I introduced with latest changes. I will try to solve it soon and release a build.

[2021-12-28 19:11] privateOmega commented on #112
Seems like this is not the only issue, even version updates to deps has sprung up some other issues, which I am trying to figure out. If either of you have some experience with bundling in JS, that would be a great help.

[2022-01-03 21:00] JonasJonny commented on #112
I remembered this issue https://github.com/toji/gl-matrix/issues/439#issuecomment-934768169, just #FYI.

[2022-01-04 15:01] erenard opened #114 "font-size in `pt`: the decimal part is cropped"
The actual regexp to match the font-size in [point](https://github.com/privateOmega/html-to-docx/blob/9b8930fd3e0c5ccce8622ee37d9f63ad1ab796c3/src/utils/unit-conversion.js#L3) doesn't match the decimal part of the font-size.
The workaround is to convert to `px` in the CSS.
We need to use the same regexp for the point and pixel.

[2022-01-11 12:43] pdziak commented on #112
Unfortunately, I'm experiencing the same error described in the first post. Will this be fixed?

[2022-01-18 21:05] svandegar commented on #104
Has anyone seen this issue? I'm happy to work on a PR, just need to know if it will be merged.

[2022-01-19 11:22] osdiab commented on #55
Related to this - my intended use case is to have nested lists have different list style types.

For example,

[code]

This is relatively easy to express with style tags, so I'm thinking it would be sufficient for me if this library supported the `list-style-type` rule.

[2022-01-20 03:59] drawmoon opened #115 "Multiple <span> underlined show errors"
Thanks for this extremely useful library!

I found a problem while using, I have a paragraph of html that does not meet expectations in word, as follows:

**html**:

[code]

**display in word**:

This is an underlined text
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯

if I remove the extra `<span>`, it is normal:

This is an underlined text
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nb

[2022-01-21 03:48] privateOmega commented on #115
@drawmoon Yes, this seems like a bug from html-to-docx itself, which I was able to reproduce, unfortunately my current bandwidth is very thin and wouldnt permit me to work on this at present and there are other things in list which has more priorirt.

I will keep this open so whenever I can, I will try to fix it whenever I get some time.

I hope as a temporary solution, you could make do with a re

[2022-01-21 03:53] privateOmega commented on #112
@pdziak I have had tried several ways to fix it, but for some reason, it isnt getting fixed, probably due to my lack of knowledge of module bundlers.

[2022-01-21 03:55] privateOmega commented on #104
@svandegar Yes I can merge it, thanks.

[2022-01-21 04:15] privateOmega commented on #103
@jevakallio

This is the current code

[code]

and I have modified it to this

[code]

 This new one seems to be generating the docx fine for me, feel free to suggest changes if you have any.

 [example.docx](https://github.com/privateOmega/html-to-docx/files/7910350/example.docx)

[2022-01-21 04:21] privateOmega commented on #103
https://github.com/privateOmega/html-to-docx/pull/116

[2022-01-21 04:24] privateOmega commented on #102
@Siddufed Oh that functionality isnt present as of now.

[2022-01-21 04:25] privateOmega commented on #101
@spacesEdward Not at present, will keep this in the list of tasks.

[2022-01-21 11:29] jevakallio commented on #103
LGTM! FWIW, this is what I've been using, but I believe yours is more correct.

[code]

[2022-01-22 22:11] privateOmega commented on #103
@jevakallio Perfect, thanks. I will merge my PR then.

[2022-01-23 00:04] privateOmega commented on #112
Guys, I have finally figured out a fix, which was basically a revert on 2 package updates I did, I have no clue how to make it run with the new upgrades, but this [new version - v1.3.2](https://www.npmjs.com/package/html-to-docx/v/1.3.2) of html-to-docx should work with react just like how it did earlier for you. I apologize for the inconvenience caused.

Also I am closing this issue, since its a

[2022-01-23 00:04] #112 closed

[2022-01-23 15:54] privateOmega commented on #55
@osdiab Yes it does,

html input:
[code]

Output looks like this:

![image](https://user-images.githubusercontent.com/10467133/150686858-eb028bfc-4084-49fe-ac14-7565dc0e2ca9.png)

[2022-01-23 15:55] privateOmega commented on #55
Closing this issue thread since the feature is supported now.

[2022-01-23 15:55] #55 closed

[2022-01-28 01:28] pbw3 commented on #59
const imageToBase64 = require('image-to-base64');
...

// loop through img elements before converting html to docx
//   img.src = getImageBase64(img.src)

async function getImageBase64(imgSrc) {
    const pre = 'data:image/png;base64, ';
    return new Promise((resolve, reject) => {
        imageToBase64(imgSrc)
            .then((res) => { return resolve(pre + res); })
            .catch((error)

[2022-02-07 09:40] luoxzhg opened #118 "1.3.2 can not be webpack"
[code]
it should be import `dist/html-to-docx.umd.js`.

there is no problem in 1.2.4

[2022-02-07 17:09] tgv1975 commented on #41
I can reproduce the issue. In my case, the image with `src` set to a data url (`base64`) does not make it into the export even if it's wrapped in a `div`. Basically, no images are exported. I'm testing the export with MS Word 2013 and LibreOffice 7.

It would be awesome if this was fixed.

@privateOmega Thanks for your work on this! Not an easy feat.

[2022-02-22 13:12] fenrircl commented on #105
Has anyone been able to fix it somehow?

[2022-03-06 12:14] jafin commented on #103
@privateOmega  If you revisit this (after fixing the build).  Can I please suggest amending to

[code]
As the existing code renders this
[code]

The new code corrects some additional whitespace

[code]

Test case data
[code]

If you want this as a PR I can set one up, just not sure about your described list build process.

[2022-03-07 03:22] fernandoxu opened #120 "how to add background-image?"

[2022-03-09 09:03] Arman19941113 commented on #59
`<img src="data:image/jpeg;base64,/9j/4AAQSkZJRgAB...">`actually it's not work with my inlined base64 image

[2022-03-09 09:04] Arman19941113 commented on #59
eventually I chose [html-docx-js](https://github.com/evidenceprime/html-docx-js#readme)

[2022-03-10 18:21] privateOmega commented on #114
@erenard Not sure, how I got that alone wrong, great catch. I have raised a PR addressing this.

[2022-03-10 18:22] #114 closed

[2022-03-10 18:51] privateOmega commented on #83
Closing this since its already addressed in #111

[2022-03-10 18:51] #83 closed

[2022-03-10 18:53] privateOmega commented on #39
Closing this since its addressed in #61

[2022-03-10 19:13] privateOmega commented on #41
Thanks. Could you please post a sample html code containing base64 image you were trying out for me to test, I have tried a png and a jpeg images in base64 and both are getting rendered?

[2022-03-10 19:14] privateOmega commented on #85
Closing since there's no activity.

[2022-03-10 19:14] #85 closed

[2022-03-10 19:14] privateOmega commented on #63
Closing since there's no activity.

[2022-03-10 19:14] #63 closed

[2022-03-13 09:40] zeljko-bulatovic commented on #41
Hi, i have the same issue. Here is the non-working example:
`<html lang="en">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta http-equiv="X-UA-Compatible" content="ie=edge">
		</head>
		<body>
			<p>Test</p>
			<p></p>
			<p>
				<div>
					<img src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI

[2022-03-14 01:14] jafin commented on #79
@privateOmega RE: typescript. I've created a branch converted to typescript. It's working locally, if useful I can do up a PR.
https://github.com/jafin/html-to-docx/tree/feat/typescript

[2022-03-15 08:20] whis20 commented on #79
@jafin when will this PR be up ? it looks promising.

[2022-03-21 20:04] lucabertolasi opened #124 "Not all text styles works"
Hi, thanks for this great lib.

I've been using it but can't get it to respect some text styles such as text alignment and bold or headings.

I have a piece of HTML coming out of react-quill.
I can't figure out how to make the text alignment work.
Also, when I set a heading all the text below it is styled as bold, even when it isn't.

Could you help?
Thanks in advance

The image shows the active t

[2022-03-30 17:03] Amritpal2001 opened #125 "'HtmlToDocx' object has no attribute 'run'"
Hey,
I am getting this issue sometimes while converting from HTML to docs.
![Screenshot 2022-03-30 at 10 30 55 PM](https://user-images.githubusercontent.com/60562606/160891155-3edf2cf3-9f50-46a4-a2cb-7daba5f26092.png)

Thanks!

[2022-04-01 07:59] #125 closed

[2022-04-13 09:03] Burane opened #127 "href link anchor taking us somewhere else in the document"
Hi, i really like this lib and i was wondering if it's possible to have an href link that take us somewhere else in the document ?

Like this :

[code]
Can you help me ?
Thanks you !

[2022-04-13 16:05] JenyaFTW opened #128 "TypeError: Class extends value undefined is not a constructor or null"
Error while importing into React project

[code]

<img width="813" alt="Screenshot 2022-04-13 at 19 04 03" src="https://user-images.githubusercontent.com/24240873/163222698-7e6ad782-8823-4693-86a7-c0811fef692a.png">

[2022-04-17 15:57] AlbinoGeek opened #129 "Fails in Webpack5 / NextJS"
Pretty simple, #68 doesn't work in Webpack5 / NextJS. Fails at import requiring `fs`.

[code]

[code]

[2022-04-17 16:40] AlbinoGeek opened #130 "Fails with Rendered MarkDown (undefined reading `encode`)"
The HTML String I am trying to convert is:

[code]

## Results

[code]

---

Yet if I pass simpler HTML it works (proving that at least the package is working):

[code]

[2022-04-21 22:58] marcusparsons commented on #130
Can you show the portion of your NodeJS code that is failing? I tried your markup, and it exports to a DOCX file perfectly fine.

[2022-04-21 23:10] AlbinoGeek commented on #130
That's the thing, I'm not doing this in NodeJS, I'm doing it **in the browser**.

[code]

This works for simple markup, but once the markup contains some MUI components, it implodes with the error as described above.

Here's an excerpt of `Renderer` for your consideration, it just builds a DOM tree out of different elements (think: Page Builder). It works, and HTML exports of the DOM tree also wor

[2022-05-09 09:10] amursky commented on #129
+1

[2022-05-09 20:34] lobnico commented on #129
+1

[2022-05-13 08:36] anton-liubushkin commented on #129
+1

[2022-05-13 09:02] devgeni commented on #129
+1

[2022-05-16 23:00] stevecj opened #131 "Support conversion from .mhtml"
It would be extremely useful if this could be used to convert from .mhtml. Is that an enhancement that could be reasonably accomplished?

[2022-05-25 16:13] tgv1975 commented on #41
First, sorry for the late reply. Here is how I'm doing it, and the image doesn't make it into the .docx:

Minimal test markup (using the image above):
[code]

This is how the HTML rendering looks:
![image](https://user-images.githubusercontent.com/15803440/170307860-aba12dae-3f82-473c-a36d-21b3e9dbe745.png)

Here's the .docx output, in Word (image missing):
![image](https://user-images.githubuserc

[2022-06-08 11:58] shk-webpr commented on #104
Hi!

@privateOmega Do you mean html strings? Any with h1 should do since upper part of letters disappears.

[code]
![image](https://user-images.githubusercontent.com/74294262/172610441-8e1f6ce8-2618-4652-823d-ebdb4ffa0f4f.png)

[2022-06-08 13:32] dimitur98 opened #133 "Css classes loading?"
Hi,
I am wondering why css classes don't load? I've got a lot of css class in my html and I need to load them in order to convert my html to docx. Any ideas?

[2022-06-28 05:57] parthdhoriya opened #135 "Is there any way we can export input type as checkbox from html string to word"
i have below string of html tags
"<ul><li><p>1</p></li><li><p>2</p></li><li><p>3</p></li><li><p>4</p></li></ul><ul data-type="taskList"><li data-checked="true" data-type="taskItem"><label><input type="checkbox" checked="checked"><span></span></label><div><p>a</p></div></li><li data-checked="true" data-type="taskItem"><label><input type="checkbox" checked="checked"><span></span></label><div><p>b</p

[2022-06-28 06:01] parthdhoriya commented on #135
@privateOmega please do help for above issue solution

[2022-07-06 02:42] subashdbc opened #136 "TypeError: (0 , html_to_docx_1.default) is not a function"
Below is my code, I try to convert this string, I get
`TypeError: (0 , html_to_docx_1.default) is not a function` this issue

[code]
package.json
`"html-to-docx": "^1.4.0",`

[2022-07-11 13:25] andreiButenka opened #137 "Table padding"
Is there a way to change default tables paddings? padding:0 and margin:0 styles are not working for a table.

[2022-07-11 13:27] andreiButenka opened #138 "Empty line after a table"
Is there a way to not add a blank line after the inserted table?

[2022-07-14 22:21] andyrewwer opened #139 "Unable to put footer text on same line as page number"
Hello,

I am trying to write a document and, on the footer, would like to have the page number (in the middle) and the current data on the left hand side. I have this request but is putting date on one line and page number on other line. Any help is much appreciated:

[code]

Note: page number is automatically added to the first span, not sure how but it works.

[2022-07-21 13:20] Erbsenfresser opened #140 "Can't set a margin or padding on a table"
Hi, is there any way to set a margin or something on a table? Or maybe have a <td> element on both sides with a fixed witdth?

[2022-07-28 23:13] shareefalis commented on #92
I did a blanket upgrade modules and it worked

     "color-name": "^1.1.4",
    "escape-html": "^1.0.3",
    "html-to-vdom": "^0.7.0",
    "image-size": "^1.0.2",
    "jszip": "^3.10.0",
    "nanoid": "^4.0.0",
    "virtual-dom": "^2.1.1",
    "xmlbuilder2": "^3.0.2"

[2022-08-04 08:49] Oracard commented on #92
Hello! Unfortunately the project I am working on is running into the same issue with production build. We are using react-scripts, checking the webpack version react-scripts is running webpack 4.44.2. I'm wondering @shareefalis when you say you blanket upgraded the modules, where did you do this?

[2022-08-04 14:02] shareefalis commented on #92
in package.json, in the dependency section of the npm module, this is what i upgraded in the snippet to get the module working.. I believe there is a loader fix in one of the module which fixed this issue

[2022-08-08 23:06] CedYF opened #141 "Justify Text To Have text on each side"
It would be nice if you have some text left aligned and some text right aligned but on the same line.

[2022-08-11 19:05] andyrewwer commented on #141
+1

[2022-08-12 15:07] xiuluo211314 commented on #41
I have same problem. I need help!!!

[2022-08-18 12:02] parthdhoriya opened #142 "Html-to-docx not working after creating a build of project and severing it"
I have a project in my local everything works fine in local but as soon as i create a build of my project and try to serve to project and then try to convert a sample html string to word then its showing below error
![image](https://user-images.githubusercontent.com/93188565/185389879-ea4a9c4d-aeef-40ca-9f04-dd6b2791263b.png)

[2022-08-25 07:00] matthew-hallsworth opened #143 "Page break not working in div's below parent html"
I have some nested divs that are using the page break styles. This is HTML coming out of a vue template, so the div cannot be the base element just under the parent HTML tag.

i.e.
[code]
No matter what I do, the script is ignoring any recommended combination of page break classes provided. Does the script read nested div's to find page breaks or does it only look at the first child div's under th

[2022-08-26 00:51] matthew-hallsworth commented on #143
I've retested this with a number of things and it seems like the lib requires `class='page-break'` on it's own, no other classes can be present otherwise it doesn't pick up.

This could be something to improve in a bug fix, it'll be rare when building html for multiple outcomes that the class will be on it's own. I've worked around it for my usecases so I'll go ahead and close this issue.

[2022-08-26 00:51] #143 closed

[2022-08-29 12:39] MateuszGrzymowicz commented on #142
Same problem here

[2022-09-05 22:52] mlava opened #144 "Noob issue - build issues with Webpack"
Hi there. I apologise for what might be a simple question, but I have searched the issues and can't quite figure this out.

I am trying to use html-to-docx in a simple way. Here are the package.json and webpack.config.json files:

[code]

and

[code]

I had to add the fallback code to make it build at all with Webpack.
But when I try to use this packed extension, I get a bunch of browser console e

[2022-09-11 14:12] akankshapatel315 opened #145 "facing build issue with webpack 5"

[2022-09-15 09:32] mlava commented on #144
Ok, so after lots of trial and error I finally got this working.

[code]

[2022-09-15 09:32] #144 closed

[2022-10-27 07:03] lignar-fazmin commented on #139
i got same issue...

[2022-10-27 09:43] zzyouyou commented on #128
蹲一波

[2022-10-27 09:46] zzyouyou commented on #128
Well, do u solved the problem?

[2022-10-27 17:09] BrianMagus opened #152 "<em> tags from source HTML string not respected on export to Docx"
My use case is a little complex, admittedly - I'm exporting documents out of Draftjs as HTML strings, prepending and appending the HTML header and footer elements, and then exporting from HTML to docx.

In the exported file, the em tags inside the HTML appear to be stripped out. I dug through the xml templates and did find where they're identified, but I can't tell if they're ever actually inserte

[2022-10-27 18:48] #152 closed

[2022-10-28 07:22] lignar-fazmin opened #153 "How to create footnote"

[2022-11-08 04:03] nicolasiscoding commented on #115
This might be addressed in https://github.com/privateOmega/html-to-docx/pull/158

[2022-11-09 10:56] diogoalmiro commented on #142
Having the same problem

[2022-11-10 04:17] nicolasiscoding commented on #138
Can you post an example?

[2022-11-10 04:17] nicolasiscoding commented on #124
Can you post the HTML? It might be addressed in #158

[2022-11-10 04:18] nicolasiscoding commented on #105
Addressed in #164

[2022-11-10 04:21] nicolasiscoding commented on #82
@privateOmega been watching this repo for a bit, isn't this addressed in #148 ?

[2022-11-10 17:15] privateOmega commented on #153
@lignar-fazmin At present, html-to-docx doesnt support footnotes. Please feel free to raise a PR if thats something you have bandwidth to work on, since I unfortunately dont at present, I will try my best to QA and merge it.

[2022-11-10 17:24] privateOmega commented on #145
@akankshapatel315 Could you please post some logs and other details, and if possible a sandbox as well, so I can try to replicate the issue.

[2022-11-10 17:25] privateOmega commented on #142
@parthdhoriya @MateuszGrzymowicz @diogoalmiro Could you please post the deps list, some configuration, logs and possibly a sandbox as well for me to replicate this issue?

[2022-11-10 17:27] privateOmega commented on #141
@CedYF  @andyrewwer  Is this something possible on docx? I dont think so, but if it is could you please attach a sample document (docx and equivalent html)so I can try to inspect that and figure out how to make that work in html-to-docx as well.

[2022-11-10 17:28] privateOmega commented on #140
@Erbsenfresser I think margin-left and margin-right are supported, but I dont understand your question about element on both sides.

[2022-11-10 20:27] andyrewwer commented on #141
Yes, you can see the footer in this example I'm attaching.
In terms of HTML there are a few ways to do this (e.g. using flex) but I think the simplest would be:

[code]

I had to pivot to use the https://github.com/dolanmiu/docx library to accomplish this there I use tabstops:
[code]

Thanks for your help.

[2022-11-11 14:01] arieltoledo commented on #128
Same issue here.

[2022-11-16 19:36] zedtux commented on #92
I am jumping in, facing the same issue with Webpack 4.

From the suggestion from @privateOmega about the module import, I tried [this PR](https://github.com/privateOmega/html-to-docx/pull/162) but webpack then can't find this library, see my comment in the PR.

[2022-11-16 20:25] zedtux commented on #92
I finally figured it out by looking at which library was using this `@oozcitak/infra` package raising the error and found that only `xmlbuilder2` is.

I found [this issue from the library's repo](https://github.com/oozcitak/xmlbuilder2/issues/23) by searching the error message in the issues. In that issue, the library author fixed the error and asked to use `xmlbuilder2` version 2.1.4. `html-to-do

[2022-11-17 05:59] privateOmega commented on #115
Yes it is, Thank you so much for this PR. Closing this since its addressed in v1.6.0

[2022-11-17 05:59] #115 closed

[2022-11-17 06:08] privateOmega commented on #56
Finally got this out in https://github.com/privateOmega/html-to-docx/pull/161. Thanks @KeithGillette @juralio-james . Closing this issue.

[2022-11-17 06:08] #56 closed

[2022-11-17 19:10] privateOmega commented on #92
Released v1.6.3 which should fix this issue. Sorry guys it took forever. Also whoever followed blanket update of packages, I am guessing you guys werent using images, because that should be broken(generate bad .docx file) if you did that I am guessing.

[2022-11-17 19:12] privateOmega commented on #142
@parthdhoriya @MateuszGrzymowicz @diogoalmiro This is a duplicate of https://github.com/privateOmega/html-to-docx/issues/92 and I've just released v.1.6.3 which should address it. Please test and if issue persists, feel free to reopen this.

[2022-11-17 19:12] #142 closed

[2022-11-17 19:15] zedtux commented on #92
@privateOmega installation of 1.6.3 fails on my machine :

[code]

1.6.2 wasn't failing.

[2022-11-17 20:00] privateOmega commented on #92
@zedtux Yes I am forcing the deps of xmlbuilder2 to be the ones that was basically the fix of 2.1.4 of xmlbuilder2. For you its failing probably because you are on older version of node and npm like npm < 7. I am guessing. Is it possible for you to upgrade npm version?

[2022-11-17 20:28] zedtux commented on #92
I'm using Docker, and installing Node 14 (still old) using the Alpine Linux package manager.

I just updated my Docker image in order to install and preserve the `npm` and `npx` commands so that now I do have the `npx` command but it crashes with :

[code]

[2022-11-18 05:34] hjardines opened #172 "Failed at the html-to-docx@1.6.3 preinstall script."
42016 error code ELIFECYCLE
42017 error errno 1
42018 error html-to-docx@1.6.3 preinstall: `npx npm-force-resolutions`
42018 error Exit status 1
42019 error Failed at the html-to-docx@1.6.3 preinstall script.
42019 error This is probably not a problem with npm. There is likely additional logging output above.
42020 verbose exit [ 1, true ]

Not allowing me to deploy because of this.

[2022-11-18 05:39] hjardines commented on #172
Hate to do this:

[code]

But seems to be working for now.

[2022-11-18 07:09] privateOmega commented on #92
Thanks for bearing with me on this and mostly for playing the role of a tester on this. It seems that on installing a package as a dependency package-lock.json is ignored by npm and then that would mean `npm-force-resolutions` breaks and throws this particular error. Inorder to solve this, I tried to setup overrides and resolutions in package.json, but that wasnt obeyed by npm on installing the pa

[2022-11-18 10:05] klaaslauwers opened #174 "Document margins not taken into account"
Hi,

Whatever I try, the margin options are not taken into account. I only want small margins for my document, and I want it to be in landscape mode:

[code]

Whatever I enter in the margin object, the margins are always 1 inch in the exported document:
![image](https://user-images.githubusercontent.com/23431246/202675929-9017787b-2d6b-4351-8d35-2a17d56a9b53.png)

The code to convert the HTML as a

[2022-11-18 10:12] klaaslauwers commented on #174
Fixed - typo (typings are missing so didn't notice it)... **margins** in stead of margin

[2022-11-18 10:12] #174 closed

[2022-11-18 12:00] #172 closed

[2022-11-18 14:11] zedtux commented on #92
@privateOmega the package installation is now working, but the library is raising the error again.

[2022-11-22 08:38] zedtux commented on #92
Any chance you have a look at this last issue @privateOmega please ?

[2022-11-22 11:16] privateOmega commented on #92
@zedtux Sorry, not yet. Could you please create a sandbox for this, with your build configuration?